body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  border: 1px solid #ddd;
  padding: 25px;
  margin: 10px;
}

.header {
  margin: 0;
  padding: 0 0 16px 0;
}
  .header__link {
  }

.code {
  margin: 1em 0;
}
  .code__url {
    font-family: Menlo, Courier, monospace;
    border: 1px solid #cacaca;
    padding: 5px 15px;
    overflow: auto;
    border-radius: 3px;
    background-color: #fafafb;
    color: #393939;
  }

.params {
  margin: 5px 0 0 15px;
}
  .params__param {
    font-family: Menlo, Courier, monospace;
    margin: 0;
    padding: 0;
    color: #393939;
  }
  .params__type {
    font-weight: 600;
    color: #ccc;
    display: inline-block;
  }

  .params__name {
    display: inline-block;
  }
